* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff4e6;
  line-height: 1.5;
  letter-spacing: 0.15em;
}

#page {
  padding: 100px;
}

p {
  margin: 50px;
}

/*Remove underline from links*/
a {
  text-decoration: none;
}

header {
  padding: 50px;
  background-color: white;
  font-size: 20px;
}

h1 {
  text-align: center;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 90px;
}

ul {
  width: 800px;
  padding: 15px;
  margin: 2px auto 2px auto;
  border-top: 4px solid;
  border-bottom: 2px solid;
  text-align: center;
  font-size: 30px;
}

li {
  display: inline-flex;
  margin: 0px 3px;
}

.hero-banner {
  background-image: url("/Assets/la-gomera-image.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  overflow: hidden;
}

.hero-banner figcaption{
  text-align: end;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-family: cursive;
}

.page-wrapper{
  padding: 0px;
  background-color: white;
}

.page-section h2 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50px;
}

#work {
  margin: 0px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "code-refactor  code-refactor"
  "project2 project3"
  "project4 project5";
}

.categoryGridArea .heading{
  background-color:rgba(136, 77, 49, 0.5);
}

.categoryGridArea{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  margin-bottom: 25px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#code-refactor{
  grid-area: code-refactor;
  background-image: url("/Assets/code-refactor.png");
}

#project2{
  grid-area: project2;
  background-image: url("/Assets/el-teide-vulcano.jpeg");
  background-position: 60% 40%;
}

#project3{
  grid-area: project3;
  background-image: url("/Assets/sunset-in-tenerife.jpeg");
  background-position: 25% 75%;
}

#project4{
  grid-area: project4;
  background-image: url("/Assets/From\ the\ sky.jpeg");
}

#project5{
  grid-area: project5;
  background-image: url("/Assets/ocean.jpeg");
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

footer{
  text-align: center;
}