/* Universal CSS styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography styling for page*/
body {
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #e9e5dc;
}

/* Remove underline from all links */
a {
  text-decoration: none;
}

header {
  font-size: 10px;
}

/* Navigation bar */
.navBar {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50px;
  padding: 20px;
}

ul {
  font-size: 20px;
  display: inline-flex;
}

li {
  margin: 50px 50px;
  display: inline-flex;
  cursor: pointer;

}

li a:hover {
  background-color: #be9b7b;
}

/* Page section styling */
.page-wrapper {
  background-color: #e9e5dc;
}

/* Bio image styling */

.hero-image {
  background-image: url("/starter/assets/images/hero-banner.JPG");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-bottom: 3px solid black;
  position: relative;
}

#bio-image {
  object-fit: contain;
  width: 800px;
  margin-left: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Section heading styling */
h2, h3 {
  margin-top: 20px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 50px;
}

.about-paragraph {
  padding: 20px;
  font-size: 20px;
  clear: none;
}

th {
  border-right: 3px solid black;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  text-align: end;
  vertical-align: top;
}

td {
  height: 50px;
}

#empty-row{
  border-right: 3px solid #e9e5dc;
}
/* Work Container styling */

.subHeading {
  text-align: center;
  border-bottom: 3px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "code-refactor code-refactor"
  "project2  project3"
  "project4 project5"
  ;
}

#code-refactor {
  grid-area: code-refactor;
  background-image: url("../images/code-refactor.PNG");
  border: 3px solid #be9b7b;

}
#project2 {
  grid-area: project2;
  background-image: url("../images/ocean.PNG");
  border: 3px solid #be9b7b;
}

#project3 {
  grid-area: project3;
  background-image: url("../images/sunset-in-tenerife.PNG");
  border: 3px solid #be9b7b;
}

#project4 {
  grid-area: project4;
  background-image: url("../images/ocean2.JPG");
  border: 3px solid #be9b7b;
}

#project5 {
  grid-area: project5;
  background-image: url("../images/sunset.PNG");
  border: 3px solid #be9b7b;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 5px;
  color: white;
  font-size: 25px;
  border: 3px solid #be9b7b;
}

#code-refactor:hover,
#project2:hover,
#project3:hover,
#project4:hover,
#project5:hover {
  opacity: 0.5;
}

/* Contact me section styling */
.contact {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-bottom: 20px;
}

.contact p {
  font-size: 20px;
  padding: 50px;
}

a {
  margin: 5px 20px;
  display: inline-flex;
  cursor: pointer;
}

a:hover {
  background-color: #be9b7b;
}

/* Footer with copyright details */
footer {
  text-align: center;
  background-color: #e9e5dc;
}

footer p {
  font-size: 15px;
}

footer a {
  margin-left: 50px;
}

/* Media Queries */
@media only screen and (max-width: 375px) {
  header {
    padding: 5px;
  }

  .heading {
    font-size: 10px;
  }
}

@media (max-width: 695px) {
  .navBar {
    align-items: center;
  }

}

@media only screen and (max-width: 1024px) {
  .navBar {
    flex-wrap: wrap;
    flex-basis: calc(33.33% - 20px);
  }

  .navBar li {
    margin: 5px;
  }

  .hero-image {
    height: 500px;
  }

  #bio-image {
    object-fit: contain;
    width: 600px;
  }

}

@media only screen and (max-width: 640px) {
  .navBar {
    text-align: center;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }

  h1 {
    font-size: 50px;
  }

  .hero-banner {
    height: 200px;
  }

  .page-wrapper {
    text-align: left;
    flex-direction: column;
  }

  #work,
  #contact {
    font-size: 30px;
  }

  .project {
    margin-left: 50px;
    margin-right: 50px;
  }

  .about-paragraph {
    font-size: 15px;
  }
}