/* Universal CSS styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography styling for page*/
body {
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #e9e5dc;
}

/* Remove underline from all links */
a {
  text-decoration: none;
}

/* Navigation bar */
.navBar {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

h1 {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  background-color: #be9b7b;
}

ul {
  font-size: 20px;
  display: inline-flex;
}

li {
  margin: 50px 50px;
  display: inline-flex;
  cursor: pointer;

}

li a:hover {
  background-color: #be9b7b;
}

/* Page section styling */
.page-wrapper {
  background-color: #e9e5dc;
}

/* Bio image styling */

.hero-image {
  background-image: url("/starter/assets/images/hero-banner.JPG");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  border-bottom: 3px solid black;
  position: relative;
}

#bio-image {
  object-fit: contain;
  width: 800px;
  margin-left: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-paragraph {
  padding: 20px;
  font-size: 20px;
  clear: none;
}

/* Section heading styling */

h3 {
  margin-top: 20px;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10px;
  margin-right: 30px;
  text-wrap: wrap;
}

.about-paragraph {
  border-left: 3px solid black;
}

.aboutMe,
.contact, .work {
  display: flex;
  justify-content:flex-start;
  margin: 50px 50px;
  padding-bottom: 20px;
}

/* Work Container styling */

#categoryGrid {
  padding: 10px;
  border-left: 3px solid black;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "code-refactor code-refactor"
    "project2  project3"
    "project4 project5";
  flex-grow: 1;
}

#code-refactor {
  grid-area: code-refactor;
  background-image: url("../images/code-refactor.PNG");
  border: 3px solid #be9b7b;
}

#refactor-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}

#project2 {
  grid-area: project2;
  background-image: url("../images/ocean.PNG");
  border: 3px solid #be9b7b;
}

#project3 {
  grid-area: project3;
  background-image: url("../images/sunset-in-tenerife.PNG");
  border: 3px solid #be9b7b;
}

#project4 {
  grid-area: project4;
  background-image: url("../images/ocean2.JPG");
  border: 3px solid #be9b7b;
}

#project5 {
  grid-area: project5;
  background-image: url("../images/sunset.PNG");
  border: 3px solid #be9b7b;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  color: white;
  font-size: 25px;
  border: 3px solid #be9b7b;
}

#code-refactor:hover,
#project2:hover,
#project3:hover,
#project4:hover,
#project5:hover {
  opacity: 0.5;
}

/* Contact me section styling */
.contact p {
  font-size: 20px;
  padding: 50px;
}

.contact-links {
  border-left: 3px solid black;
}

a {
  margin: 5px 20px;
  cursor: pointer;
}

a:hover {
  background-color: #be9b7b;
}

/* Footer with copyright details */
footer {
  text-align: center;
  background-color: #e9e5dc;
}

footer p {
  font-size: 15px;
}

footer a {
  margin-left: 50px;
}


@media only screen and (max-width: 1053px) {
  .navBar {
    text-align: center;
    display: block;
  }

  .navBar ul {
    text-align: center;
  }

  .navBar li {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .aboutMe,
  .work,
  .contact {
    flex-direction: column;
  }

  .about-paragraph,
  .contact-links {
    border: none;
  }

  #categoryGrid {
    border: none;
  }

  h3 {
    border-bottom: 3px solid black;
  }
}

/* Media Queries */
@media only screen (min-width: 0px) and (max-width: 481px) {
  header {
    padding: 5px;
  }

  .navBar {
    text-align: center;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }

  h1 {
    font-size: 50px;
  }

  .about-paragraph {
    font-size: 15px;
  }

  .page-wrapper {
    text-align: left;
    flex-direction: column;
  }}


  @media only screen (min-width: 482px) and (max-width: 768px) {
    .navBar {
      text-align: center;
    }

    nav ul {
      display: inline-flex;
    }

    nav li {
      margin: 0.8em 0;
    }

    h1 {
      font-size: 30px;
    }

    .about-paragraph {
      font-size: 15px;
    }

    .page-wrapper {
      text-align: left;
      flex-direction: column;
    }
  }

  @media only screen (min-width: 769px) and (max-width: 1025px) {
    .navBar {
      text-align: center;
      flex-direction: column;
    }

    nav ul {
      flex-direction: column;
    }

    nav li {
      margin: 0.8em 0;
    }

    h1 {
      font-size: 30px;
    }

    .hero-image {
      height: 500px;
    }

    #bio-image {
      object-fit: contain;
      width: 600px;
    }

    .about-paragraph {
      font-size: 15px;
    }

    .page-wrapper {
      text-align: left;
      flex-direction: column;
    }

    .hero-banner {
      height: 200px;
    }
  }

  @media only screen and (max-width: 1053px) {
    .navBar {
      text-align: center;
      display: block;
    }

    .navBar ul {
      text-align: center;
    }

    .navBar li {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .categoryGridArea {
      position: relative;
      z-index: 1;
      margin-top: 20px;
    }

    .about-paragraph {
      margin-top: 20px;
    }
  }